<%
  client = ChatworkNotifications::Chatwork.new ChatworkNotifications::Helpers.options[:api_token]
  users = User.logged.status(1)
  rooms = client.rooms rescue {}
%>

<div class="chatwork_notifications">
  <fieldset>
    <legend><%= l("chatwork.settings") %></legend>
    <dl>
      <dt for="settings_room_id"><%= l("chatwork.room") %></dt>
      <dd>
      <% if rooms.blank? %>
        <span style="color: red;font-weight: bold;"><%= l("chatwork.invalid_token") %></span>
      <% else %>
          <table>
          <% users.each do |user| %>
                <tr>
                  <td><span><%= user.login %></span></td>
                  <td>
                    <%= select_tag "settings[#{user.id}]",
                                   options_for_select({nil => l("chatwork.label_room")}.merge(rooms).invert, @settings[user.id.to_s]) %>
                  </td>
                </tr>
          <% end %>
          </table>
      <% end %>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <legend><%= l("chatwork.issue") %></legend>
    <p>
      <label for="settings_issue_notify_on_create"><%= l("chatwork.issue_notify_on_create") %></label>
      <%= check_box_tag 'settings[issue_notify_on_create]', true, @settings['issue_notify_on_create'] %>
    </p>
    <p>
    <label for="settings_issue_notify_on_update"><%= l("chatwork.issue_notify_on_update") %></label>
    <%= check_box_tag 'settings[issue_notify_on_update]', true, @settings['issue_notify_on_update'] %>
    </p>
    <p>
    <label for="settings_issue_description_max_lines"><%= l("chatwork.issue_description_max_lines") %></label>
    <%= number_field_tag 'settings[issue_description_max_lines]', @settings['issue_description_max_lines'] %>
    </p>
    <p>
    <label for="settings_issue_description_max_words"><%= l("chatwork.issue_description_max_words") %></label>
    <%= number_field_tag 'settings[issue_description_max_words]', @settings['issue_description_max_words'] %>
    </p>
  </fieldset>
</div>

